header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 2rem;
    align-items: center;
}

.nav-logo img {
    width: 10rem;
    display: block;
}

header .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.nav-list li{
    padding-left: 2rem;
    color: var(--white);
}