<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../static/styles/hobbies.css">
    <link rel='icon' href='../static/img/favicon.ico' type='image/x-icon' />
    <title>MLH Portfolio</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
        </div>
    </header>
    <main>
        <diV class="header">
            <h1>Our Hobbies</h1>
        </diV>
        <h2>Fiona's Hobbies</h2>
        <section class="hobbies-section">
            <div class="hobby-container">
                 <div class="img-container">
                    <img src="../static/img/book.png" alt="The cover of a novel named Dark Matter">
                </div>
                <div class="text-container">
                    <h3>Reading</h3>
                    <p>I love reading science fiction thriller books and mystery books in general. I love reading books with great plot twists that uses technology in some way!</p>
                </div>
            </div>
            <div class="hobby-container">
                 <div class="img-container">
                    <img src="../static/img/basketball.png" alt="Ball going into a hoop">
                </div>
                <div class="text-container">
                    <h3>Basketball</h3>
                    <p>I love playing basketball in my free time. I used to be a point guard in my High School varsity basketball team, and I still play basketball recreationally in college.</p>
                </div>
            </div>
            <div class="hobby-container">
                 <div class="img-container">
                    <img src="../static/img/judo.jpg" alt="Person throwing someone down">
                </div>
                <div class="text-container">
                    <h3>Judo</h3>
                    <p>I've been doing Judo for quite a while and I love practicing my self-defence skills and learning cool throws!</p>
                </div>
            </div>
        </section>
        <h2>Armando's Hobbies</h2>
        <section class="hobbies-section">
            <div class="hobby-container">
                 <div class="img-container">
                    <img src="../static/img/reading.jpg" alt="Person reading a book">
                </div>
                <div class="text-container">
                    <h3>Hobby 1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sunt doloremque officiis ut possimus ratione, consectetur fuga labore explicabo nesciunt commodi, impedit inventore unde est illum a rem officia fugiat.</p>
                </div>
            </div>
            <div class="hobby-container">
                 <div class="img-container">
                    <img src="../static/img/reading.jpg" alt="Person reading a book">
                </div>
                <div class="text-container">
                    <h3>Hobby 2</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet temporibus repellendus exercitationem dignissimos sapiente provident, sequi delectus aspernatur doloremque voluptatem laborum aut distinctio similique minus quam voluptatibus assumenda. Natus, qui!</p>
                </div>
            </div>
            <div class="hobby-container">
                 <div class="img-container">
                    <img src="../static/img/reading.jpg" alt="Person reading a book">
                </div>
                <div class="text-container">
                    <h3>Hobby 3</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos adipisci suscipit iure praesentium consequatur sunt delectus assumenda inventore, illum error, esse, quas quaerat magnam ut. Debitis accusamus nesciunt ratione unde.</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Made in 2025 by Fiona and Armando</p>
        <p>MLF Fellowship Production Engineering</p>
    </footer>
</body>
</html>